<!DOCTYPE html>
<!-- <html>
    <head>
        <title>Annie's blog</title>
    </head>
    <h1>100 Books to Read Before You Die</h1>
    <h2>Books! Books! Book!</h2>
    <body>
    <p><strong>1984</strong> George Orwell</p>
    <p><strong>Adventures of Huckleberry Finn</strong> Mark Twain</p>
    <p><strong>The Adventures of Sherlock Holmes</strong> Arthur Conan Doyle</p>
    <p><strong>The Alchemist</strong> Paulo Coelho</p>
    <p><strong>The Aleph and Other Stories</strong> Jorge Luis Borges</p>
    <p><strong>Animal Farm</strong> George Orwell</p>
    <p><strong>Aesop's Fables</strong>Aesop</p>
    <p><strong>Alice's Adventures in Wonderland</strong>Lewis Carroll</p>
    <p><strong>Anna Karenina</strong> Leo Tolstoy</p>
    <p><strong> Anne of Green Gables</strong> L.M. Montgomery</p>
    <p><strong></strong></p>    
    
    <a href="https://reedsy.com/discovery/blog/best-books-to-read-in-a-lifetime">Link</a>
    </body>
</html> -->

<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </article>
    </body>
</html>
